html {
    overflow-y: scroll;
}

::-webkit-scrollbar { 
    display: none;
}

body {
  background-color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
   margin: 0px;
}

/*
body:before { 
	content: "";
	position: fixed;
	top: -10px;
	left: 0;
	width: 100%;
	height: 10px;
	z-index: 100;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	box-shadow: 0px 0px 10px rgba(0,0,0,.8);
} 
*/

#menuBtn img {
    height: 16px;
    width: 16px;
}

.button img {
    height: 20px;
    width: 20px;
}

#menuBtn {
    height: 35px;
    width: 100px;
    margin-top: 8px;
    margin-left: 10px;
    font-family: 'droid_sansbold';
    background: #fff;
    border-radius: 5px;
    color: #666;
    position: absolute;
    cursor: pointer;
    -webkit-app-region: no-drag;
    transition: background 0.2s ease;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    text-align: left;
    text-indent: 13px;
    line-height: 35px;
}

#menu {
    height: 300px;
    width: 230px;
    position: fixed;
    margin-top: 50px;
    background: #FFF;
    margin-left: 20px;
    border-radius: 2px;
    border-right: solid 1px #c4c4c4;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
    overflow-y: visible;
    opacity: 0;
    z-index: 8;
}

.button {
    color: #4e4e4e;
    background: #fcfcfc;
    text-indent: 20px;
    height: 50px;
    width: 230px;
    top: 10px;
    font-family: 'droid_sansregular';
    font-size: 16px;
    line-height: 50px;
    cursor: pointer;
    float: left;
    outline: none;
    position: relative;
  	-webkit-app-region: no-drag;
}
.button:hover {
    background: #f0f0f0;
}

#arrow {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #FFF;
    margin-top: -10px;
    margin-left: 10px;
}

#head {
    height: 50px;
    width: 100%;
    background: #c6c6c6;
    z-index: 5;
    overflow: hidden;
    position: fixed;
    font-family: 'droid_sansregular';
    font-size: 16px;
    color: #666;
    text-align: center;
    line-height: 43px;
    text-overflow: ellipsis;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    border-bottom: solid 3px #FFF;
    -webkit-app-region: drag;
}

#tabs {
    height: 50px;
    width: 100%;
    text-overflow: ellipsis;
}

.tab {
    height: 42px;
    width: 280px;
    float: left;
    background: #fff;
    top: 8px;
    position: relative;
    padding: 0px 10px 0px 10px;
    left: 110px;
    overflow: hidden; 
    margin-left: 10px;
    text-overflow: ellipsis;
    -webkit-app-region: no-drag;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

#editor {
    box-shadow: -3px 0px 5px rgba(0,0,0,0.2);
}

.activated {
    color: #fff;
    background: #008aef;
    padding-left: 8px;
    padding-right: 8px;
    height: 50px;
    width: 200px;
    border-bottom: solid 1px #333;
    border-radius: 2px;
    font-size: 16px;
    line-height: 50px;
    cursor: pointer;
    float: left;
    outline: none;
    position: relative;
}

.activated:active {
    
}

select {
    color: #4e4e4e;
    background: #fcfcfc;
    top: 20px;
    padding-left: 8px;
    padding-right: 8px;
    height: 50px;
    width: 230px;
    border: solid 1px rgba(0,0,0,0);
    border-radius: 2px;
    font-family: 'open-sansregular';
    font-size: 16px;
    cursor: pointer;
    float: left;
    outline: none;
    position: relative;
  	-webkit-app-region: no-drag;
}
select:hover {
    background: #f0f0f0;
}
select:active {
    background: #ededed;
}

option {
    background: #ededed;
    line-height: 40px;
    outline: none;
    border: solid 1px rgba(0,0,0,0);
}

.unsaved {
    color: #FFF;
    background: #e53e3e;
    box-shadow: 0px 3px 0px #b52a2a;
}

.unsaved:hover {
    background: #fa4848;
}

.unsaved:active {
    color: #FFF;
    background: #d02626;
    box-shadow: 0px 3px 0px #a51414;
}

#lineNum {
    background: #d5eaff;
}

#close {
    margin-right: 7px;
    margin-top: -42px;
    float: right;
    height: 35px;
    width: 35px;
    background: #fff;
    border-radius: 5px;
    color: #666;
    font-size: 16px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    -webkit-app-region: no-drag;
    z-index: 100;
}

#close:hover {
    background: #eb5c5c;
    color: #FFF;
}

#close:active {
    background: #b52a2a;
    color: #FFF;
}